<a href="https://colab.research.google.com/github/Sqlstar/NYC-Taxi-Trip-Duration-Dataset/blob/main/Sukarna_Nandy_DAS_END_Term_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing the dataset
#link - https://data.world/vizwiz/nyc-taxi-jan-2020

In [ ]:
!wget https://query.data.world/s/qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000

--2024-07-20 21:31:28--  https://query.data.world/s/qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000
Resolving query.data.world (query.data.world)... 151.101.2.133, 151.101.66.133, 151.101.130.133, ...
Connecting to query.data.world (query.data.world)|151.101.2.133|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://download.data.world/file_download/vizwiz/nyc-taxi-jan-2020/yellow_tripdata_2020-01.csv?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OnN1a2FybmFuYW5keSIsImlzcyI6ImFnZW50OnN1a2FybmFuYW5keTo6MjU0MzYyYmUtZDYxMC00YjFmLWI2ZGMtMmUxZGUwODM2MzlmIiwiaWF0IjoxNzIxNDEyOTI4LCJyb2xlIjpbInVzZXIiLCJ1c2VyX2FwaV9hZG1pbiIsInVzZXJfYXBpX2VudGVycHJpc2VfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiZjg1MGViNzEzNmY5MDZhZDgwYjRjMjk5NjM0N2Q0Y2ZmNGUzY2YyOCJ9.Q3qa0kjR8C5Ig9wwKgaCLaAVJ9JlNsghjgNAmpznV8Ljufu3zjqsaOgYSSuUzpEnLNYoF3v-f4rlLBQIiIk_fA [following]
--2024-07-20 21:31:28--  https://download.data.world/file_download/vizwiz/nyc-taxi-jan-2020/yellow_tripdata_2020-01.csv?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OnN1a2FybmFuYW5keSIsImlzcyI6ImFnZW50OnN1a2FybmFuYW5keTo6MjU0MzYyYmUtZDYxMC00YjFmLWI2ZGMtMmUxZGUwODM2MzlmIiwiaWF0IjoxNzIxNDEyOTI4LCJyb2xlIjpbInVzZXIiLCJ1c2VyX2FwaV9hZG1pbiIsInVzZXJfYXBpX2VudGVycHJpc2VfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiZjg1MGViNzEzNmY5MDZhZDgwYjRjMjk5NjM0N2Q0Y2ZmNGUzY2YyOCJ9.Q3qa0kjR8C5Ig9wwKgaCLaAVJ9JlNsghjgNAmpznV8Ljufu3zjqsaOgYSSuUzpEnLNYoF3v-f4rlLBQIiIk_fA
Resolving download.data.world (download.data.world)... 151.101.2.133, 151.101.66.133, 151.101.130.133, ...
Connecting to download.data.world (download.data.world)|151.101.2.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000’

qolvqj3kfavy2hueup5     [   <=>              ] 566.11M  83.2MB/s    in 7.8s

2024-07-20 21:31:37 (72.4 MB/s) - ‘qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000’ saved [593610736]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000')

<ipython-input-3-526055e803bc>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000')

In [ ]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

#Setting up spark

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=55202a71333aed6cdc1572cdeac971fa42ad671a3e967775f7e1150487c39a8e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, unix_timestamp, to_timestamp
from pyspark.ml.feature import VectorAssembler, StringIndexer, StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression, DecisionTreeRegressor, GBTRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
spark = SparkSession.builder \
    .appName("NYC Taxi Duration Prediction") \
    .config("spark.executor.instances", "8") \
    .config("spark.executor.cores", "4") \
    .config("spark.executor.memory", "8g") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "100") \
    .getOrCreate()

In [ ]:
# Load the dataset
data = spark.read.csv('/content/qolvqj3kfavy2hueup5ig5ipkruh6k?dws=00000', header=True, inferSchema=True)

In [ ]:
# Preview the data
data.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2020-01-01 00:28:15|  2020-01-01 00:33:03|              1|          1.2|         1|                 N|         238|         239|           1|        6.0|  3.0|    0.5|      1.47|         0.0|                  0.3|       11.27|                 2.5|
|       1| 2020-01-01 00:35:39|  2020-01-01 00:43:04|              1|          1.2|         1|                 N|         239|         238|           1|        7.0|  3.0|    0.5|       1.5|         0.0|                  0.3|        12.3|                 2.5|
|       1| 2020-01-01 00:47:41|  2020-01-01 00:53:52|              1|          0.6|         1|                 N|         238|         238|           1|        6.0|  3.0|    0.5|       1.0|         0.0|                  0.3|        10.8|                 2.5|
|       1| 2020-01-01 00:55:23|  2020-01-01 01:00:14|              1|          0.8|         1|                 N|         238|         151|           1|        5.5|  0.5|    0.5|      1.36|         0.0|                  0.3|        8.16|                 0.0|
|       2| 2020-01-01 00:01:58|  2020-01-01 00:04:16|              1|          0.0|         1|                 N|         193|         193|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|                 0.0|
|       2| 2020-01-01 00:09:44|  2020-01-01 00:10:37|              1|         0.03|         1|                 N|           7|         193|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                 0.0|
|       2| 2020-01-01 00:39:25|  2020-01-01 00:39:29|              1|          0.0|         1|                 N|         193|         193|           1|        2.5|  0.5|    0.5|      0.01|         0.0|                  0.3|        3.81|                 0.0|
|       2| 2019-12-18 15:27:49|  2019-12-18 15:28:59|              1|          0.0|         5|                 N|         193|         193|           1|       0.01|  0.0|    0.0|       0.0|         0.0|                  0.3|        2.81|                 2.5|
|       2| 2019-12-18 15:30:35|  2019-12-18 15:31:35|              4|          0.0|         1|                 N|         193|         193|           1|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 2.5|
|       1| 2020-01-01 00:29:01|  2020-01-01 00:40:28|              2|          0.7|         1|                 N|         246|          48|           1|        8.0|  3.0|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|
|       1| 2020-01-01 00:55:11|  2020-01-01 01:12:03|              2|          2.4|         1|                 N|         246|          79|           1|       12.0|  3.0|    0.5|      1.75|         0.0|                  0.3|       17.55|                 2.5|
|       1| 2020-01-01 00:37:15|  2020-01-01 00:51:41|              1|          0.8|         1|                 N|         163|         161|           2|        9.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        13.3|                 2.5|
|       1| 2020-01-01 00:56:27|  2020-01-01 01:21:44|              1|          3.3|         1|                 N|         161|         144|           1|       17.0|  3.0|    0.5|      4.15|         0.0|                  0.3|       24.95|                 2.5|
|       2| 2020-01-01 00:21:54|  2020-01-01 00:27:31|              1|         1.07|         1|                 N|          43|         239|           1|        6.0|  0.5|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       2| 2020-01-01 00:38:01|  2020-01-01 01:15:21|              1|         7.76|         1|                 N|         143|          25|           1|       28.5|  0.5|    0.5|      4.84|         0.0|                  0.3|       37.14|                 2.5|
|       1| 2020-01-01 00:15:35|  2020-01-01 00:27:06|              3|          1.6|         1|                 N|         211|         234|           2|        9.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|
|       1| 2020-01-01 00:41:20|  2020-01-01 00:44:22|              1|          0.5|         1|                 Y|         234|          90|           1|        4.0|  3.0|    0.5|       1.0|         0.0|                  0.3|         8.8|                 2.5|
|       1| 2020-01-01 00:56:38|  2020-01-01 01:13:34|              1|          1.7|         1|                 N|         246|         142|           2|       11.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        15.3|                 2.5|
|       2| 2020-01-01 00:08:21|  2020-01-01 00:25:29|              1|         8.45|         1|                 N|         138|         216|           2|       24.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        25.8|                 0.0|
|       1| 2020-01-01 00:25:39|  2020-01-01 00:27:05|              1|          0.0|         1|                 N|         170|         162|           4|        3.0|  3.0|    0.5|       0.0|         0.0|                  0.3|         6.8|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

#Data Pre-Processing

In [ ]:
# Now you can use PySpark transformations
data = data.withColumn("pickup_datetime", to_timestamp(col("tpep_pickup_datetime")))
data = data.withColumn("dropoff_datetime", to_timestamp(col("tpep_dropoff_datetime")))

In [ ]:
# Calculate trip duration in seconds
data = data.withColumn("duration", (unix_timestamp(col("dropoff_datetime")) - unix_timestamp(col("pickup_datetime"))))

In [ ]:
# Preview the data to ensure 'duration' is added
data.select("VendorID", "passenger_count", "pickup_datetime", "dropoff_datetime", "duration").show()

+--------+---------------+-------------------+-------------------+--------+
|VendorID|passenger_count|    pickup_datetime|   dropoff_datetime|duration|
+--------+---------------+-------------------+-------------------+--------+
|       1|              1|2020-01-01 00:28:15|2020-01-01 00:33:03|     288|
|       1|              1|2020-01-01 00:35:39|2020-01-01 00:43:04|     445|
|       1|              1|2020-01-01 00:47:41|2020-01-01 00:53:52|     371|
|       1|              1|2020-01-01 00:55:23|2020-01-01 01:00:14|     291|
|       2|              1|2020-01-01 00:01:58|2020-01-01 00:04:16|     138|
|       2|              1|2020-01-01 00:09:44|2020-01-01 00:10:37|      53|
|       2|              1|2020-01-01 00:39:25|2020-01-01 00:39:29|       4|
|       2|              1|2019-12-18 15:27:49|2019-12-18 15:28:59|      70|
|       2|              4|2019-12-18 15:30:35|2019-12-18 15:31:35|      60|
|       1|              2|2020-01-01 00:29:01|2020-01-01 00:40:28|     687|
|       1|              2|2020-01-01 00:55:11|2020-01-01 01:12:03|    1012|
|       1|              1|2020-01-01 00:37:15|2020-01-01 00:51:41|     866|
|       1|              1|2020-01-01 00:56:27|2020-01-01 01:21:44|    1517|
|       2|              1|2020-01-01 00:21:54|2020-01-01 00:27:31|     337|
|       2|              1|2020-01-01 00:38:01|2020-01-01 01:15:21|    2240|
|       1|              3|2020-01-01 00:15:35|2020-01-01 00:27:06|     691|
|       1|              1|2020-01-01 00:41:20|2020-01-01 00:44:22|     182|
|       1|              1|2020-01-01 00:56:38|2020-01-01 01:13:34|    1016|
|       2|              1|2020-01-01 00:08:21|2020-01-01 00:25:29|    1028|
|       1|              1|2020-01-01 00:25:39|2020-01-01 00:27:05|      86|
+--------+---------------+-------------------+-------------------+--------+
only showing top 20 rows

In [ ]:
# Filter outliers and invalid data
data = data.filter((col("duration") > 0) & (col("duration") <= 7200))

In [ ]:
# Remove rows with null values
data = data.dropna()

In [ ]:
# Select relevant features
data = data.select("VendorID", "passenger_count", "duration")

In [ ]:
data.show()

+--------+---------------+--------+
|VendorID|passenger_count|duration|
+--------+---------------+--------+
|       1|              1|     288|
|       1|              1|     445|
|       1|              1|     371|
|       1|              1|     291|
|       2|              1|     138|
|       2|              1|      53|
|       2|              1|       4|
|       2|              1|      70|
|       2|              4|      60|
|       1|              2|     687|
|       1|              2|    1012|
|       1|              1|     866|
|       1|              1|    1517|
|       2|              1|     337|
|       2|              1|    2240|
|       1|              3|     691|
|       1|              1|     182|
|       1|              1|    1016|
|       2|              1|    1028|
|       1|              1|      86|
+--------+---------------+--------+
only showing top 20 rows

In [ ]:
# Sample the data aggressively for quick execution
sampled_data = data.sample(fraction=0.00001, seed=42)

In [ ]:
# Index categorical columns
indexer = StringIndexer(inputCols=["VendorID"], outputCols=["vendor_id_indexed"])

In [ ]:
# Assemble features into a single vector
assembler = VectorAssembler(inputCols=["VendorID", "passenger_count"], outputCol="features", handleInvalid="skip")

In [ ]:
scaler = StandardScaler(inputCol="features", outputCol="scaled_features")

#Defining models and creating pipelines

In [ ]:
# Define models with fewer iterations
lr = LinearRegression(featuresCol="scaled_features", labelCol="duration", maxIter=5)
dt = DecisionTreeRegressor(featuresCol="scaled_features", labelCol="duration", maxDepth=3)
gbt = GBTRegressor(featuresCol="scaled_features", labelCol="duration", maxIter=5,maxDepth = 3)

In [ ]:
# Create pipelines
lr_pipeline = Pipeline(stages=[indexer, assembler, scaler, lr])
dt_pipeline = Pipeline(stages=[indexer, assembler, scaler, dt])
gbt_pipeline = Pipeline(stages=[indexer, assembler, scaler, gbt])

In [ ]:
# Split data into training and test sets
train_data, test_data = sampled_data.randomSplit([0.8, 0.2], seed=42)

In [ ]:
# Train the models
lr_model = lr_pipeline.fit(train_data)

In [ ]:
dt_model = dt_pipeline.fit(train_data)

In [ ]:
gbt_model = gbt_pipeline.fit(train_data)

In [ ]:
# Make predictions
lr_predictions = lr_model.transform(test_data)

In [ ]:
dt_predictions = dt_model.transform(test_data)

In [ ]:
gbt_predictions = gbt_model.transform(test_data)

In [ ]:
#Evaluate the models
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
evaluator_rmse = RegressionEvaluator(labelCol="duration", predictionCol="prediction", metricName="rmse")
evaluator_r2 = RegressionEvaluator(labelCol="duration", predictionCol="prediction", metricName="r2")
evaluator_mae = RegressionEvaluator(labelCol="duration", predictionCol="prediction", metricName="mae")

In [ ]:
lr_rmse = evaluator.evaluate(lr_predictions)

In [ ]:
dt_rmse = evaluator.evaluate(dt_predictions)

In [ ]:
gbt_rmse = evaluator.evaluate(gbt_predictions)

In [ ]:
print(f"Linear Regression RMSE: {lr_rmse}")
print(f"Decision Tree RMSE: {dt_rmse}")
print(f"Gradient-Boosted Trees RMSE: {gbt_rmse}")

Linear Regression RMSE: 482.8240565778387
Decision Tree RMSE: 507.8994328096213
Gradient-Boosted Trees RMSE: 507.8994328096213

In [ ]:
# Calculate R2
lr_r2 = evaluator_r2.evaluate(lr_predictions)
dt_r2 = evaluator_r2.evaluate(dt_predictions)
gbt_r2 = evaluator_r2.evaluate(gbt_predictions)

In [ ]:
print(f"Linear Regression R2: {lr_r2}")
print(f"Decision Tree R2: {dt_r2}")
print(f"Gradient-Boosted Trees R2: {gbt_r2}")

Linear Regression R2: -0.9959283514837931
Decision Tree R2: -1.2086281428601708
Gradient-Boosted Trees R2: -1.2086281428601708

In [ ]:
# Calculate MAE
lr_mae = evaluator_mae.evaluate(lr_predictions)
dt_mae = evaluator_mae.evaluate(dt_predictions)
gbt_mae = evaluator_mae.evaluate(gbt_predictions)

In [ ]:
print(f"Linear Regression MAE: {lr_mae}")
print(f"Decision Tree MAE: {dt_mae}")
print(f"Gradient-Boosted Trees MAE: {gbt_mae}")

Linear Regression MAE: 440.1441226625754
Decision Tree MAE: 458.86956521739137
Gradient-Boosted Trees MAE: 458.86956521739137

In [ ]:
spark.stop()

#Linear Regression performs slightly better than Decision Tree and Gradient-Boosted Trees in terms of RMSE and MAE.